<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.pexeso.soc"
        versionCode = "4" 
        version="1.0.0">
    <name>Pexeso Memory Game</name>
    <description>
        Jednoduchá ukážka hry pexeso.
    </description>
    <author email="kamil.kafunek@yahoo.com" href="http://phonegap.com">
        Kamil Kafúnek
    </author> 
</widget>
